body, h1, h2, h3, h4, p, a, li, ul, ol {
    font-family: monospace;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    padding: 0;
    color: inherit;
    list-style-type: none;
}

input {
    font-family: monospace;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 0;
    width: 100%;
    margin-bottom: 10px;
}

input:disabled {
    border-color: rgba(0, 0, 0, 0);
}

input:focus {
    border: 1px solid white;
}

html, body {
    height: 100%;
}

body {
    color: white;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a:hover, a:focus {
    color: inherit;
}

.curentDir {
    margin-left: 20px;
    font-size: 26px;
    text-decoration: underline;
}

.element {
    font-family: monospace;
    font-size: 100%;
    /* width: 100%; */
}

/* .element:hover {
    background-color: rgba(255, 255, 255, 0.1);
} */

.element-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.element-t-dir {
    color: darkturquoise;
}

.element-t-file {
    color: aliceblue;
}

.element-t-symlink {
    color: goldenrod;
}

.fileManager {
    display: flex;
    flex-direction: row;
    /* height: 100%; */
}

.filesList {
    box-sizing: border-box;
    display: inline-block;
    /* margin: 20px; */
    /* display: flex; */
    /* height: 100%; */
    height: auto;
    overflow: scroll;
    border: solid 2px darkgrey;
    padding: 10px;
    vertical-align: top;
    align-items: stretch;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33%;
}