
.col-2 {
    width: 50%;
}

.col-3 {
    width: 33%;
}

body, h1, h2, h3, h4, p, a, li, ul, ol, input, button {
    font-family: 'Roboto Mono', monospace;
    /* font-family: monospace; */
    margin: 0;
    /* font-size: 90%; */
    font-weight: normal;
    padding: 0;
    color: inherit;
    list-style-type: none;
}

input {
    box-sizing: border-box;
    padding: 5px;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    width: 100%;
    margin-bottom: 10px;
    /* font-size: inherit; */
}

input:disabled {
    border-color: rgba(0, 0, 0, 0);
}

input:focus {
    border: 1px solid white;
}

html, body {
    height: 100vh;
}

body {
    color: white;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a:hover, a:focus {
    color: inherit;
}

.currentDir {
    /* padding: 3px; */
    /* padding-left: 20px; */
    font-size: 100%;
    /* text-decoration: underline; */
    background-color: rgba(255, 255, 255, 0.1);
}

.element {
    /* font-size: inherit; */
    box-sizing: border-box;
    padding: 5px;
}

.element + .element {
    border-top: 1px solid rgba(255, 255, 255, 0.1);;
}

.element-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.element-t-dir {
    color: rgb(25, 228, 232);
}

.element-t-file {
    color: rgb(242, 249, 255);
}

.element-t-symlink {
    color: rgb(255, 202, 68);
}

.fileManager {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 0;
}

.filesList {
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    overflow: auto;
    padding: 10px;
    vertical-align: top;
    align-items: stretch;
}

.filesList + .filesList {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.file-content-holder {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
    overflow: auto;
}

.file-content {
    white-space: pre-wrap;
}

.path-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0;
    padding: 10px;
}

.path-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.path-button + .path-button {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.path-button:first-child {
    padding-left: 20px;
}